<div>
	<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							<!-- Login Tab Content -->
							<div class="account-content">
                               
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
                                        <div class="row align-items-center justify-content-center">
										    <div class="avatar avatar-xxl">
                                                <img class="avatar-img rounded-circle" src="assets/img/patient-login.jpg" alt="Patient Image">
                                            </div>   
                                            <div>
                                                <a href="#patient-login"><h4>Patient</h4></a>
                                            </div> 
                                        </div>                                    
									</div>
                                    <div class="col-md-7 col-lg-6 login-left">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="avatar avatar-xxl">
                                                <img class="avatar-img rounded-circle" src="assets/img/doctor-login.jpg" alt="Doctor Image">
                                            </div>
                                            <div>
                                                <a href="#doctor-login"><h4>Doctor</h4></a>
                                            </div>
                                        </div>
                                    </div>
							    </div>
							<!-- /Login Tab Content -->
								
						    </div>
					    </div>

				    </div>

			    </div>	
            </div>	
			<!-- /Page Content -->
</div>